body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
    padding: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.features-left, .features-right {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-text img {
    width: 30px; 
    height: 30px;
}

.feature h3 {
    color: #333;
    font-size: 1.5em;
}

.feature p {
    color: #777;
    font-size: 1em;
}

.phone-image img {
    width: 320px; 
    height: auto;
}
